{% extends 'base.html' %}

{% block content %}
<form action="" method="POST">
    <div class="form-group">
        <label>Email</label>
        {{ form.email(_class="form-control", placeholder="Your email") }}
    </div>
    <div class="form_group">
        <label>Password</label>
        {{ form.password(_class="form-control", placeholder="Your password") }}
    </div>
    <div class="checkbox">
        <label>
            {{ form.remember_me }} Remember-me
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
